html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

body {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

footer {
  background: #161616;
  padding: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #fff;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  display: flex;
}

.social-icons a {
  display: block;
  margin: 0;
  line-height: 1;
}
.social-icons a + a {
  margin-left: 10px;
}

.madfish {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  color: #98c630;
}

.madfish img {
  margin-right: 10px;
  display: block;
}

.nav {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px;
  padding: 0px;
  background: #161616;
  border-bottom: 1px solid black;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 15px;
}
.logo {
  color: #ffd800;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin-right: 15px;
  border-radius: 3px;
  /* border: 1px solid black; */
  padding: 15px 20px;
  background: rgba(0, 0, 0, 0.25);
}

.nav_selected {
  color: #000 !important;
  font-weight: 600 !important;
  text-decoration: none;
  background: #ffd800 !important;
  line-height: 1;
}

.example_selector {
  /* padding: 25px 20px; */
}

.code {
  /* background: #007ea1; */
  position: relative;
  display: flex;
  max-height: 100%;
  overflow: hidden;
  flex: 1;
  /* border-top: 1px solid black; */
}

.code-wrapper {
  width: 50%;
  min-height: 100%;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  display: flex;
  flex-direction: column;
  background: #1e1e1e;
}

.code-tabs {
  display: flex;
  z-index: 5;
  border-bottom: 1px solid black;
  background: #161616;
}

.code-tab {
  padding: 10px 15px;
  border: 1px solid black;
  border-top: 0;
  margin-bottom: -1px;
  color: white;
  font-size: 14px;
  background: #1e1e1e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  cursor: pointer;
  user-select: none;
}

.code-tab + .code-tab {
  margin-left: -1px;
}

.code-tab.active {
  border-bottom: 1px solid #1e1e1e;
  cursor: default;
}

.code-inner {
  flex: 1;
}

.divider {
  width: 2px;
  min-height: 100%;
  background: black;
}

.minibutton {
  border: 0;
  color: #fff;
  background: #30d27c;
  text-shadow: none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  padding: 5px 10px 6px;
  height: 11px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 8px;
  top: 10px;
  right: 10px;
  width: 70px;
  text-transform: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  border-radius: 3px;
}

.minibutton:hover {
  background: #2bbd70;
}

.ss-main {
  max-width: 300px;
  margin-right: 15px;
}

.ss-main .ss-single-selected {
  background: #101010 !important;
  border-color: black !important;
  border-radius: 3px !important;
  color: white;
}

.ss-content {
  border-color: black !important;
}

.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:hover {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.ss-content .ss-list .ss-option.ss-disabled {
  background-color: inherit !important;
  opacity: 50% !important;
}

.ss-list {
  background: #101010 !important;
  border-color: black !important;
  color: #fff !important;
}

.panel {
  display: flex;
  box-sizing: border-box;
  flex-flow: column nowrap;
  justify-content: space-around;
  background: #1e1e1e;
  color: #fff;
  border: 1px solid black;
  padding: 5px 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.panel-row {
  display: flex;
  flex-flow: row wrap;
}

.contract-name-input {
  padding: 0 5px;
}

.contract-name-input > input {
  margin-left: 5px;
}

.panel-checkbox {
  margin-right: 20px;
}