html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

body {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
.nav {
  margin: 0px;
  padding: 0px;
}
.nav a {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  background: #0091b9;
  padding: 15px 20px;
  font-weight: 300;
  border-radius: 10px;
  margin: 15px 15px 0 0;
  float: left;
  cursor: pointer;
}

.nav_selected {
  color: #000 !important;
  font-weight: 600 !important;
  text-decoration: none;
  background: #ffd800 !important;
}

.example_selector {
  padding: 25px 20px;
}

.code {
  /* background: #007ea1; */
  position: relative;
  display: flex;
  max-height: 100%;
  overflow: hidden;
  flex: 1;
}

#solidity_container {
  width: 50%;
  min-height: 100%;
  border: 0;
  overflow-y: auto;
  resize: none;
  outline: none;
  padding: 0;
  color: #def;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}

#ligo_container {
  width: 50%;
  min-height: 100%;
  border: 0;
  overflow-y: auto;
  resize: none;
  outline: none;
  padding: 0;
  color: #def;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}

#ligo_dst {
  text-transform: none;
  overflow: auto;
  width: 50%;
  outline: none;
  /* margin: 0 20px; */
  color: #def;
  padding: 0;
  margin: 0;
}

.divider {
  width: 2px;
  min-height: 100%;
  background: black;
}

.minibutton {
  border: 0;
  color: #fff;
  background: #30d27c;
  text-shadow: none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  padding: 5px 10px 6px;
  height: 11px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 8px;
  top: 10px;
  right: 10px;
  width: 70px;
  text-transform: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  border-radius: 3px;
}

.minibutton:hover {
  background: #2bbd70;
}
